<div class="admin-panel-content">
    <div class="theaters-admin-panel-view admin-panel-view">
        <div class="admin-panel-view-header">
            Theaters
        </div>

        <div class="actions-container">
            <div class="action-container add-new-button-container">
                <button type="button" class="add-new-button btn btn-primary" ui-sref="main.adminPanel.theater">
                    Add the new one
                </button>
            </div>
        </div>

        <div class="entities-list-container">
            <entity-admin-table entity-id-path="_id" entity-name-path="name"
                                get-get-entities-endpoint="endpointListService.getTheaters"
                                is-remove-action-enabled="true"
                                get-remove-entity-endpoint="endpointListService.deleteTheater"
                                is-entity-selection-enabled="true"
                                edit-entity-state-name="main.adminPanel.theater">
            </entity-admin-table>
        </div>
    </div>
</div>