<div class="admin-panel-content">
    <div class="events-admin-panel-view admin-panel-view">
        <div class="admin-panel-view-header">
            Users
        </div>

        <div class="entities-list-container">
            <entity-admin-table entity-id-path="_id" entity-name-path="username"
                                get-get-entities-endpoint="endpointListService.getUsers"
                                is-remove-action-enabled="true"
                                get-remove-entity-endpoint="endpointListService.deleteUser"
                                is-entity-selection-enabled="true">
            </entity-admin-table>
        </div>
    </div>
</div>