<div class="entity-edit-container event-entity-container">
    <div class="entity-edit-form-container">
        <form class="entity-edit-form event-edit-form form-horizontal" role="form" name="editEventForm">
            <div class="form-header">
                <div class="add-new-entity-form-header" ng-show="entity.__id === undefined">Add the new event</div>
                <div class="edit-entity-form-header" ng-hide="entity.__id === undefined">Edit event</div>
            </div>

            <div class="input-group control-container entity-id-container" ng-hide="entity.__id === undefined">
                <div class="input-group-addon">ID</div>
                <p class="form-control form-control-static">{{entity.__id}}</p>
            </div>
            <div class="input-group control-container event-date-container datepicker-conainer">
                <div class="input-group-addon">Date</div>
                <input type="text" size="10" class="form-control" ng-model="entity.date" data-autoclose="1"
                       data-container="body" placeholder="Date" data-min-date="today" bs-datepicker>
            </div>
            <div class="input-group control-container event-date-container datepicker-conainer">
                <div class="input-group-addon">Time</div>
                <input type="text" size="8" class="form-control" ng-model="entity.date" data-autoclose="1"
                       data-container="body" placeholder="Time" data-time-format="HH:mm" data-time-type="number"
                       bs-timepicker>
            </div>
            <div class="input-group control-container event-film-dropdown-container dropdown-container">
                <div class="input-group-addon">Film</div>
                <select class="form-control event-film-select" ng-model="entity.filmId"
                        ng-options="option for option in filmIds">
                </select>
            </div>
            <div class="input-group control-container event-theater-dropdown-container dropdown-container">
                <div class="input-group-addon">Theater</div>
                <select class="form-control event-film-select" ng-model="entity.theaterId"
                        ng-options="option for option in theaterIds">
                </select>
            </div>
            <div class="input-group control-container event-theater-hall-dropdown-container dropdown-container">
                <div class="input-group-addon">Theater hall</div>
                <select class="form-control event-film-select" ng-model="entity.hallId"
                        ng-options="option for option in hallIds">
                </select>
            </div>
            <div class="action-button-container">
                <button type="submit" class="form-control btn btn-success" ng-click="saveEvent(entity)"
                        ng-class="{'disabled': !editEventForm.$valid}">
                    Save changes
                </button>
                <a ui-sref="main.adminPanel.events" class="form-control btn btn-warning">List entities</a>
                <button class="form-control btn btn-danger" ng-show="entity.__id !== undefined"
                        ng-click="removeEvent(entity)">
                    Remove
                </button>
            </div>
        </form>
    </div>
    <div class="entity-preview-container"></div>
</div>