<div class="entity-edit-container">
    <div class="entity-edit-form-container">
        <form class="entity-edit-form form-horizontal" role="form" name="theaterEditForm">
            <div class="form-header">
                <div class="add-new-entity-form-header" ng-show="entity._id === undefined">Add the new theater</div>
                <div class="edit-entity-form-header" ng-hide="entity._id === undefined">Edit theater</div>
            </div>

            <div class="input-group control-container entity-id-container" ng-model="entity.mainImageUrl" ng-required="true">
                <div class="input-group-addon">Theater main image</div>
                <div class="form-control">
                    <div class="thumbnail main-image-thumbnail">
                        <img alt="Theater main image" width="240px" height="320px" ng-src="{{entity.mainImageUrl}}"
                                ng-show="entity.mainImageUrl !== ''">

                        <div class="input-group" ng-show="entity.mainImageUrl !== ''">
                            <div class="input-group-addon">Current url</div>
                            <span class="form-control">{{entity.mainImageUrl}}</span>
                        </div>

                        <div class="input-group" ng-form="newMainImageUrlForm">
                            <div class="input-group-addon">New url</div>
                            <input type="text" class="form-control" ng-model="newMainImageUrl"
                                    ng-pattern="validationRegularExpressions.url">
                        </div>

                        <div class="actions-container">
                            <a href="#" class="btn btn-primary" role="button" ng-click="saveMainImageUrl(newMainImageUrl)">
                                Update url
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="input-group control-container entity-id-container" ng-show="entity._id !== undefined">
                <div class="input-group-addon">ID</div>
                <p class="form-control form-control-static">{{entity._id}}</p>
            </div>
            <div class="input-group control-container theater-name-container">
                <div class="input-group-addon">Name</div>
                <input type="text" class="form-control" ng-model="entity.name"
                        ng-pattern="validationRegularExpressions.plainText" ng-required="true">
            </div>
            <div class="input-group control-container theater-description-container">
                <div class="input-group-addon">Description</div>
                <textarea type="text" class="form-control" ng-model="entity.description"
                        ng-required="true">
                </textarea>
            </div>
            <div class="input-group control-container theater-subway-station-name-container">
                <div class="input-group-addon">Subway station</div>
                <input type="text" class="form-control" ng-model="entity.subwayStationName"
                        ng-pattern="validationRegularExpressions.plainText">
            </div>
            <div class="input-group control-container theater-phone-number-container">
                <div class="input-group-addon">Phone number</div>
                <input type="text" class="form-control" ng-model="entity.phoneNumber"
                        ng-pattern="validationRegularExpressions.phoneNumber">
            </div>
            <div class="input-group control-container theater-options-support-container">
                <div class="input-group-addon">Options supported</div>
                <div class="form-control">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="entity.onlineBookingSupported">
                            Online booking supported
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="entity.terminalPaymentSupported">
                            Ternimal payment supported
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="entity.qrCodeReaderSupported">
                            QR code reader supported
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="entity.barAllowed">
                            Bar allowed
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="entity.parkingAllowed">
                            Parking allowed
                        </label>
                    </div>
                </div>
            </div>
            <div class="input-group control-container theater-address-container">
                <div class="input-group-addon">Address</div>
                <div class="form-control">
                    <div class="input-group control-container dropdown-container">
                        <div class="input-group-addon">City</div>
                        <input type="text" class="form-control" ng-model="entity.address.city" ng-required="true"
                                ng-pattern="validationRegularExpressions.plainText">
                    </div>
                    <div class="input-group control-container dropdown-container">
                        <div class="input-group-addon">Street</div>
                        <input type="text" class="form-control" ng-model="entity.address.street" ng-required="true"
                               ng-pattern="validationRegularExpressions.plainText">
                    </div>
                    <div class="input-group control-container dropdown-container">
                        <div class="input-group-addon">House number</div>
                        <input type="text" class="form-control" ng-model="entity.address.houseNumb" ng-required="true"
                               ng-pattern="validationRegularExpressions.plainText">
                    </div>
                </div>
            </div>
            <div class="input-group control-container theater-halls-edit-list-container"
                 ng-model="entity.halls" empty-array-validator="">
                <div class="input-group-addon">Halls</div>
                <div class="form-control">
                    <div class="edit-halls-container">
                        <div class="add-new-hall-btn-container btn-container">
                            <a class="btn btn-primary" ng-click="addNewHall()">
                                Add the new one
                            </a>
                        </div>

                        <div class="form-control hall-edit-form-container" ng-form="editHallForm"
                                ng-show="currentEditingHall != null">
                            <div class="input-group edit-theater-name-control-container">
                                <div class="input-group-addon">Name</div>
                                <input class="form-control edit-theater-name-control-container"
                                        ng-pattern="validationRegularExpressions.plainText"
                                        ng-model="currentEditingHall.name">
                            </div>

                            <div class="row-list-container form-control">
                                <div class="row-list-header">
                                    <h4>Rows:</h4>
                                </div>

                                <div class="form-control add-row-container" ng-form="addRowForm">
                                    <div class="input-group new-row-number-container">
                                        <div class="input-group-addon">Row number</div>
                                        <span class="form-control">
                                            {{newHallRow.rowNumber = currentEditingHall.rows.length + 1}}
                                        </span>
                                    </div>
                                    <div class="input-group new-row-seats-count-container">
                                        <div class="input-group-addon">Seats count</div>
                                        <input type="number" ng-required="true" class="form-control new-row-seats-count"
                                               ng-model="newHallRow.seatsCount" ng-pattern="validationRegularExpressions.rowSeatsCount">
                                    </div>

                                    <div class="add-new-row-btn-container">
                                        <a href="#" class="btn btn-primary" ng-class="{'disabled': !addRowForm.$valid}"
                                                ng-click="addRow(newHallRow)">
                                            Add row
                                        </a>
                                    </div>
                                </div>

                                <div class="row-list-container">
                                    <ul class="row-list" ng-show="currentEditingHall.rows.length > 0">
                                        <li class="row header-row">
                                            <div class="col-xs-2">#</div>
                                            <div class="col-xs-4">Seats count</div>
                                            <div class="col-xs-6 actions-header">Actions</div>
                                        </li>

                                        <li class="row entiry-row" ng-repeat="row in currentEditingHall.rows">
                                            <div class="col-xs-2">{{row.rowNumber}}</div>
                                            <div class="col-xs-4">{{row.seatsCount}}</div>
                                            <div class="move-row-up-action-container col-xs-2">
                                                <span class="glyphicon glyphicon-arrow-up" ng-hide="row.rowNumber === 1"
                                                        title="Move row up" ng-click="$parent.moveRowUp(row)">
                                                </span>
                                            </div>
                                            <div class="move-row-down-action-container col-xs-2">
                                                <span class="glyphicon glyphicon-arrow-down"
                                                      ng-hide="row.rowNumber === $parent.currentEditingHall.rows.length"
                                                      title="Move row down" ng-click="$parent.moveRowDown(row)">
                                                </span>
                                            </div>
                                            <div class="col-xs-2 remove-button-container">
                                                <span class="glyphicon glyphicon-remove-circle"
                                                        title="Remove" ng-click="$parent.removeRow(row)">
                                                </span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="save-form-btn-container">
                                <a class="btn btn-primary" ng-click="saveHall(currentEditingHall)">Save hall</a>
                            </div>
                        </div>

                        <div class="theater-halls-list-container" ng-show="entity.halls.length > 0">
                            <div class="theater-edit-list-header">
                                <h4>Halls:</h4>
                            </div>
                            <ul class="theater-halls-edit-list">
                                <li class="theater-hall-list-header-row row">
                                    <span class="column-label col-xs-4">Name (click to edit)</span>
                                    <span class="column-label col-xs-3">Rows count</span>
                                    <span class="column-label col-xs-3">Seats count</span>
                                    <span class="column-label col-xs-2">Action</span>
                                </li>

                                <li class="theater-hall row" ng-repeat="hall in entity.halls">
                                    <div class="thater-hall-name-container col-xs-4">
                                        <a href="#" class="thater-hall-name"
                                                ng-click="startEditHall(hall)">
                                            {{hall.name}}
                                        </a>
                                    </div>
                                    <div class="theater-hall-rows-count-container col-xs-3">
                                        <span class="theater-hall-rows-count">{{hall.rows.length}}</span>
                                    </div>
                                    <div class="theater-hall-rows-count-container col-xs-3">
                                        <span class="theater-hall-seats-count">{{getSeatsCountForHall(hall)}}</span>
                                    </div>
                                    <div class="theater-hall-delete-button-container col-xs-1">
                                        <span class="glyphicon glyphicon-remove-circle"
                                                ng-click="removeHall(hall)"></span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="input-group control-container entity-edit-image-list-container">
                <div class="input-group-addon">Images</div>
                <div class="form-control image-edit-list-container">
                    <div class="form-control add-image-form-container">
                        <div class="input-group" ng-form="addImageForm">
                            <div class="input-group-addon">Image url</div>
                            <input type="text" class="form-control" ng-model="newImageUrl"
                                    ng-pattern="validationRegularExpressions.url">
                        </div>

                        <div class="action-button-container">
                            <a class="form-control btn btn-primary" ng-click="addImage(newImageUrl)">Add image</a>
                        </div>
                    </div>
                    <div class="existing-images-list-container" ng-show="entity.photos.length > 0">
                        <div class="image-list-header-container">
                            <h4 class="image-list-header">Images:</h4>
                        </div>
                        <ul class="image-edit-list row">
                            <li class="col-xs-4" ng-repeat="image in entity.photos">
                                <div class="image-item thumbnail">
                                    <div class="image-container">
                                        <img ng-src="{{image}}" alt="Image">
                                    </div>
                                    <div class="image-url-container">
                                        <span>{{image}}</span>
                                    </div>
                                    <div class="remove-image-btn-container">
                                        <a class="btn btn-primary" ng-click="$parent.removeImage(image)">Remove item</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="action-button-container">
                <button type="submit" class="form-control btn btn-success"
                        ng-class="{'disabled': !theaterEditForm.$valid}" ng-click="saveTheater(entity)">
                    Save changes
                </button>
                <a ui-sref="main.adminPanel.theaters" class="form-control btn btn-warning">List entities</a>
                <button class="form-control btn btn-danger" ng-show="entity._id !== undefined"
                        ng-click="removeTheater(entity)">
                    Remove
                </button>
            </div>
        </form>
        <custom-spinner ng-show="isBusy"></custom-spinner>
    </div>
</div>