<div class="entity-edit-container event-entity-container">
    <div class="entity-edit-form-container">
        <form class="entity-edit-form event-edit-form form-horizontal" role="form">
            <div class="form-header">
                <div class="add-new-entity-form-header">Add the new event</div>
                <div class="edit-entity-form-header">Edit event</div>
            </div>

            <div class="input-group control-container entity-id-container">
                <div class="input-group-addon">ID</div>
                <p class="form-control form-control-static">23132-321-3213-21-32-1-321321321</p>
            </div>
            <div class="input-group control-container event-date-container datepicker-conainer">
                <div class="input-group-addon">Date</div>
                <input type="text" class="form-control event-date" name="date" bs-datepicker>
            </div>
            <div class="input-group control-container event-film-dropdown-container dropdown-container">
                <div class="input-group-addon">Film</div>
                <select class="form-control event-film-select">
                    <option>film 1</option>
                    <option>film 2</option>
                    <option>film 3</option>
                    <option>film 4</option>
                    <option>film 5</option>
                </select>
            </div>
            <div class="input-group control-container event-theater-dropdown-container dropdown-container">
                <div class="input-group-addon">Theater</div>
                <select class="form-control event-film-select">
                    <option>theater 1</option>
                    <option>theater 2</option>
                    <option>theater 3</option>
                    <option>theater 4</option>
                    <option>theater 5</option>
                </select>
            </div>
            <div class="input-group control-container event-theater-hall-dropdown-container dropdown-container">
                <div class="input-group-addon">Theater hall</div>
                <select class="form-control event-film-select">
                    <option>theater hall 1</option>
                    <option>theater hall 2</option>
                    <option>theater hall 3</option>
                    <option>theater hall 4</option>
                    <option>theater hall 5</option>
                </select>
            </div>
            <div class="action-button-container">
                <button type="submit" class="form-control btn btn-success">Save changes</button>
                <button type="submit" class="form-control btn btn-default">Go back</button>
            </div>
        </form>
    </div>
    <div class="entity-preview-container"></div>
</div>