<li class="sign-in-button" access-level-visible="accessLevels.anonymous" ng-click="showLoginModal()">
    <a>Sign In</a>
</li>

<li class="dropdown" access-level-visible="accessLevels.authenticated">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        User Name
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
        <li ui-sref-active="active">
            <a ui-sref="main.profile">Profile</a>
        </li>
        <li>
            <a href="#">Tickets</a>
        </li>
        <li ui-sref-active="active" access-level-visible="accessLevels.administrator">
            <a ui-sref="main.adminPanel">Admin Panel</a>
        </li>
        <li>
            <a class="sign-out-button" ng-click="signOut()">Sign Out</a>
        </li>
    </ul>
</li>

<custom-modal ng-show="isLoginModalShown" show="isLoginModalShown">
    <login-form operation-successful-callback="hideLoginModal()"></login-form>
</custom-modal>