//measures
@stickyFooterDesktopHeight: 60px;

@headerDesktopHeight: 50px;

@signInFormMinWidth: 305px;

//colors
@primaryColor1: #f8f8f8;
@primaryColor2: #e7e7e7;
@primaryColor3: black;
@primaryColor4: #ddd;