<header class="navbar navbar-default" role="navigation">
    <div class="container container-fluid">
        <div class="navbar-header">
            <div class="navbar-brand">
                Ticket Master
            </div>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li ui-sref-active="active">
                    <a ui-sref="main.films">Films</a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="main.theaters">Theaters</a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="main.schedule">Schedule</a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="main.tickets">Buy tickets</a>
                </li>

                <li class="divider"></li>

                <ui-view name="user-menu-view">
                </ui-view>
            </ul>
        </div>
    </div>
</header>